@charset 'utf-8';

html{
    font-size: 16px;
}

body{
    font-family: 'Noto Sans', 'Noto Sans JP', sans-serif;
}

img{
    width: 100%;
    vertical-align: top;
}


// =======================
//  メディアクエリ
// =======================

$layout-width-inner: 1024px;

$breakpoints: (
  "sp": "screen and (max-width: 767px)",
  "tab": "screen and (max-width: #{$layout-width-inner - 1px})",
  "pc": "screen and (min-width: #{$layout-width-inner})"
);

@mixin mq($breakpoint: sp) {
    @media #{map-get($breakpoints, $breakpoint)} {
      @content;
    }
  }
  

// =======================
//  共通部分
// =======================

$font-color:#1c1b15;
$bg-color:#BCBABE;

.section{
    padding: 3em 0;
}

.section__inner{
    max-width : $layout-width-inner;
    width: 100%;
    box-sizing: content-box;
    padding: 0 30px;
    margin: 0 auto;
}

.section__title{
    font-size: 2em;
    margin-bottom: .5em;
    padding-bottom: 6px;
    border-bottom: 2px solid #000;
}

.button{
    display: inline-block;
    text-align: center;
    font-size: 1.125rem;
    transition: .3s;

    &:hover{
        opacity: .7s;
    }
}

// =======================
//  z-index
// =======================

$layer: (
  modal: 100,
  drawer: 40,
  sp-menu: 35,
  floating: 30,
  header: 20,
  default: 1
);





// =======================
//  header
// =======================

.header{
    padding: 1em 0;
    background: transparent;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: map-get($layer, "header");
}

.header__inner{
    box-sizing: content-box;
    max-width: 1100px;
    padding: 0 30px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__logo-wrap{
    max-width: 100px;
    width: 100%;
}

.header__list{
    display: flex;
}

.header__item{
    margin-right: 1.5em;

    &:last-child{
        margin-right: 0;
    }
}